/**{
    color: #CBE6F9; 
    color: #F5C8DA; 
    color: #4F260A;
}*/

/*Inicio Header styles*/
.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F5C8DA;
}

.MenuList {
    list-style: none;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.ItemMenu {
    margin: 0 2rem;
}

.MenuText {
    font-size: 22px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    font-family: 'Mountains of Christmas', serif;
    color: #4F260A;
}

.MenuLink {
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #4F260A;
}

a:hover {
    color: #FF69A4;
    font-weight: bold;
    opacity: 70%;
}

/*Fin Header styles*/

/*Login styles*/
.loginTitle{
    font-size: 2rem;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    font-family: 'Mountains of Christmas', serif;
    color: #4F260A;
}

.btn_login{
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    text-decoration: none;
    color: #4F260A;
    background-color:   #CBE6F9; 
    border:  none;

    
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.text_login {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #4F260A;
}

.text_label{
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #4F260A;
}

.text_input{
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #d0d0d0;
}

.arrow{
    padding-top: 1rem;
    padding-left: 1rem;
}
/*Body Styles*/
.h3 {
    padding-top: 4rem;
    padding-left: 3rem;

    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Mountains of Christmas', serif;
    color: #4F260A;
}

.text {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.text2 {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #4F260A;
}

img {
    object-fit: cover;
    object-position: center;
    width:100%;
}

.img_ingredientes {
    object-fit: cover;
    object-position: center;
    width:100%;
    height:500px;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;

    text-decoration: none;
    color: #4F260A;
    background-color: #F5C8DA;
    border: none;

    font-size: 1rem;
    font-weight: 700;
    font-family: 'Mountains of Christmas', serif;
}
.title_ingredientes{
    font-size: 1.6rem;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    font-family: 'Mountains of Christmas', serif;
    color: #4F260A;
}

.text_ingredientes{
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #4F260A;
}

.btn_Ingredientes {
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;

    text-decoration: none;
    color: #4F260A;
    background-color: #F5C8DA;
    border: none;

    font-size: 1rem;
    font-weight: 700;
    font-family: 'Mountains of Christmas', serif;
}

.cont_btn{
    display: flexbox;
    justify-content: space-between;
    margin-left: 2.5rem;
}

.btn:visited {
    text-decoration: none;
    color: #4F260A;
}

a:visited {
    text-decoration: none;
    color: #4F260A;
}

/*Fin Footer styles*/
.footer {
    width: 100%;
    height: 4rem;
    text-align: center;
    background-color: #F5C8DA;
}

.FooterText {
    font-size: 24px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    padding-top: 1rem;
    font-family: 'Mountains of Christmas', serif;
    color: #4F260A;
}



/*Fin Footer styles*/