/**{
    color: #CBE6F9; 
    color: #F5C8DA; 
    color: #4F260A;
}*/

/*Inicio Header styles*/
.head{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #F5C8DA;
}

.MenuList{
    list-style: none;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.ItemMenu{
    margin: 0 2rem;
}

.MenuText{
    font-size: 22px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    font-family: 'Mountains of Christmas', serif;
    color: #4F260A;
}

.MenuLink{
    font-size: 16px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #4F260A;
}

a:hover{
    color: #FF69A4;
    font-weight: bold;
    opacity: 70%;
}

/*Fin Header styles*/

/*Body Styles*/
h3{
    padding-top: 3rem;
    text-align:justify;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Mountains of Christmas', serif;
}

.text{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}
.text2{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #4F260A;
}

img{
    object-fit: cover;
    object-position: center;
    width: 25%;
}

.btn{
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;

    text-decoration: none;
    color:  #4F260A;
    background-color:   #F5C8DA;
    border:  none;

    font-size: 1rem;
    font-weight: 700;
    font-family: 'Mountains of Christmas', serif;
}

.btn:visited{
    text-decoration: none;
    color:  #4F260A;
}

a:visited{
    text-decoration: none; 
    color:  #4F260A;
}

/*Fin Footer styles*/
.footer{ 
    width:100%;
    height: 4rem;
    text-align:  center;
    background-color: #F5C8DA;
}

.FooterText{
    font-size: 24px;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    padding-top: 1rem;
    font-family: 'Mountains of Christmas', serif;
    color: #4F260A;
}
/*Fin Footer styles*/